<footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="container-lg">
        <div class="text-center">
            <a href="https://github.com/ulskHeprit" target="_blank">by ulskHeprit for TPlus</a>
        </div>
    </div>
</footer>