<header class="flex-shrink-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="/">Учет повреждений</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for key, data in this.get('menu')  %}
                    <li class="nav-item">
                        <a class="nav-link {{ key == selected_menu ? 'active' : '' }}" href="{{ data.href }}">{{ data.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
